  #section .visita{
    display: block;
    font-size: 25px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #2645f5;
  }

/*Inicio de las cards de la parte de contactos*/
.box {
    background-color: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 30px;
    max-width: 100000px;
  }
  #section .contac {
    background-color: #947EB0;
    justify-content: center;
    display: flex;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
  
  #section .contac {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
  }
  

   h2{
    color: #5a5a5a;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
	  padding: 0px;

  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 20px;
  
  
  }
  
  .grid > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(187, 163, 206, 1);
    background-color: #fff;
    padding: 5% 0;
     border-radius: 20px;
  }
  
  
  .grid .text {
    padding: 10px 20px 20px 30px;
    color: #808285;
    margin-bottom: 20px;  
    font-size: 18px;
    text-align: center;
  }
  
  .grid .btn {
    margin-top: 20px;
    background-color: #e0d4e9;
      border: 0;
      border-radius: 5px;
      color: #000;
      font-size: 30px;
      padding: 5px 10px 5px 10px;
    line-height: 5;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    
  }
  
  .btn:hover {
    background: #d1d3d4;
    transition-duration: 80ms;
  }
  
  h3{ 
    color: #000;
    text-align: left;
  }
  /*Fin de las terjetas de contactos*/

   /*Inicio cards medicos*/
  .tex{
    color: #5a5a5a;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
	  padding: 0px;
   }

  .medicos {
    text-align: center;
    padding: 30px;
    background: #f8f4f2;
    font-family: Arial;
  }
  
  .a-box {
    display: inline-block;
    width: 240px;
    text-align: center;
  }
  
  .img-container {
      height: 230px;
      width: 200px;
      overflow: hidden;
      border-radius: 0px 0px 20px 20px;
      display: inline-block;
  }
  
  .img-container img {
      transform: skew(0deg, -13deg);
      height: 250px;
      margin: -35px 0px 0px -70px;
  }
  
  .inner-skew {
      display: inline-block;
      border-radius: 20px;
      overflow: hidden;
      padding: 0px;
      transform: skew(0deg, 13deg);
      font-size: 0px;
      margin: 30px 0px 0px 0px;
      background: #c8c2c2;
      height: 250px;
      width: 200px;
  }
  
  .text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
  }
  
  .text-container h3 {
    margin: 20px 0px 10px 0px;
    color: #04bcff;
    font-size: 18px;
  }

