 #section .top-text{
    height: 100%;
    display: grid;
    place-items: center;
    background: #f2f2f2;
    text-align: center;
  }
  .txt {
    color: #4d3905 ;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Merienda', cursive;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
    padding: 15px;
    text-align: center;
  }


  .pro {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        background-color: #f7f8fc;
        font-family: "Roboto", sans-serif;
        color: #10182f;
        flex-wrap: nowrap
      }
  
    .cont {
        display: flex;
        width: 1040px;
        justify-content: space-evenly;
        flex-wrap: nowrap

      }
      .targ {
        margin: 10px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        width: 300px;
      }
      .imag img {
        width: 225%;
        height: 255px;
        object-fit: cover;
      }
      .cuerpoy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        min-height: 250px;
      }
      
      .dess {
        background: #cccccc;
        border-radius: 50px;
        font-size: 12px;
        margin: 0;
        color: #fff;
        padding: 2px 10px;
        text-transform: uppercase;
        cursor: pointer;
      }
      .dess-crip {
        background-color: #47bcd4;
      }
     
      
      .cuerpo p {
        font-size: 13px;
        margin: 0 0 40px;
      }
     
      