

/*Inicio de las cards de la parte de servicios*/
#section .tarjetas{
    height: 100%;
    display: grid;
    place-items: center;
    background: #f2f2f2;
    text-align: center;
}
.texto {
	color: #717D7E ;
    font-weight: 600;
    font-size: 28px;
    font-family: 'Merienda', cursive;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
    padding: 15px;
    text-align: center;
}
.containers{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 70vh;
    width: 100%;

    }
.card{
    height: 290px;
    width: 350px;
    margin: 0 10px;
    background: white;
    transition: 0.4s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.card:hover{
    height: 470px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.card .img{
    height: 200px;
    width: 100%;
}
.card .img img{
    height: 200px;
    width: 100%;
    object-fit: cover;    
}
.card .top-text{
    padding: 5px;
}
.card .top-text .name{
    font-size: 28px;
    font-weight: 600;
    color: #202020;
    text-align: center;
}
.card .top-text p{
    font-size: 20px;
    font-weight: 600;
    color: #a59610d8;
    line-height: 20px;
    text-align: center;

}
.card .bottom-text{
    padding: 0 20px 10px 20px;
    margin-top: 5px;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
}
.card:hover .bottom-text{
    opacity: 1;
    visibility: visible;
}
.card .bottom-text .text{
    text-align: center;
    font-size: 18px;
}
@media screen and (max-width: 978px){
    .container{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .card{
        max-width: 700px;
        margin: 20px 0;
    }
}
/*Fin de las cards de la parte de servicios*/

/*Inicio de las cards de la parte de inseminacion*/
.inseminacion {
    padding: 20px;
  font-family: sans-serif;
  background: #0c0303;
}
img {
  width: 100%; /* need to overwrite inline dimensions */
  height: auto;
}
h2 {
  margin-bottom: .5em;
  font-size: 25px;
  background-position: center;
  color: rgb(241, 246, 248);

}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}


/* hover styles */
.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.location-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(90,0,10,0.4);
  color: white;
  
  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}


/* for touch screen devices */
@media (hover: none) { 
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}

/* Formulario */

section .contacto {
    padding: 60px 0;
    background: #c6f2f8;

}
section .contacto .titulo {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #1686d1;
    text-align: center;   
}
fsection .contacto .formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
section .contacto .formulario input[type=text],
section .contacto .formulario input[type=fecha],
section .contacto .formulario input[type=hora],
section .contacto .formulario input[type=domicilio],
section .contacto .formulario input[type=telefono],
section .contacto .formulario input[type=especie],
section .contacto .formulario textarea {
    border:2px solid #cecece ;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    color:#a4a4a4; 
}
section .contacto .formulario input[type=text]:focus,
section .contacto .formulario input[type=fecha]:focus,
section .contacto .formulario input[type=hora]:focus,
section .contacto .formulario input[type=domicilio]:focus,
section .contacto .formulario input[type=telefono]:focus,
section .contacto .formulario input[type=especie]:focus,
section .contacto .formulario textarea:focus {
     border:2px solid #3895ea;
}
section .contacto .formulario input[type=text],
section .contacto .formulario input[type=fecha],
section .contacto .formulario input[type=hora],
section .contacto .formulario input[type=domicilio],
section .contacto .formulario input[type=telefono],
section .contacto .formulario input[type=especie] {
    width: 49%;
    margin-bottom: 15px;
    bottom: center; 

}
section .contacto .formulario textarea {
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 300px;
    margin-bottom: 15px;
}
section .contacto .formulario .boton {
    margin: auto;
    background: #3895ea;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    padding: 15px 40px;
    cursor: pointer;
}
section .contacto .formulario .boton:hover {
    background: #387bea;
}
  