{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    {% block estilosextras %}
    {% endblock %}
    <title>{% block title %} Inicio {% endblock %}</title>
</head>
<script src="https://kit.fontawesome.com/88fc0b9cfd.js" crossorigin="anonymous"></script>
<body>
    <!-- Header Section  -->

  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="{% url 'home' %}">
            <h1>Victor's</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="{% url 'home' %}" data-after="Inicio">Inicio</a></li>
            <li><a href="{% url 'services' %}" data-after="Servicios">Servicios</a></li>
            <li><a href="{% url 'productos'%}" data-after="Productos">Productos</a></li>

            <li><a href="{% url 'contacto' %}" data-after="Contact">Contactos</a></li>
            <li><a href="/admin" data-after="Login">Login</a></li>
            


          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Header Section  -->
  {% block hero %}
  {% endblock%}

  {% block contacto %}
  {% endblock%}
 
  <footer class="footer-distributed">

    <div class="footer-left">

            <h3>Veterinaria<span>Victor's</span></h3>

            <p class="footer-links">
                <a href="home.html" class="link-1">Inicio</a>
            
                <a href="services.html">Servicios</a>
            
                <a href="productos.html">Productos</a>
                
                <a href="contacto.html">Contacto</a>
                
                <a href="sesion.html">Login</a>
            </p>

            
        
    </div>

    <div class="footer-center">
        <div>
            <h3>Contacto</h3>
        </div>
        

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Avenida Xicohtencalt # </span> San José Xicohtencalt</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+52 2471010834</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:veterinariavictor09@gmail.com">veterinariavictor09@gmail.com</a></p>
        </div>

    </div>

    <div class="footer-right">


        <div class="footer-icons">

            <a href="https://www.facebook.com/Veterinaria-Victors-106577832168100/"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-whatsapp"></i></a>
            
            <p class="footer-company-name">Copyright © Las reales UTT 2022</p>
            
        </div>

    </div>

    </div>

</footer>

<!-- partial -->
  <script src="{% static 'js/app.js' %}"></script>
</body>
</html>