{% extends 'base.html' %}


{% block hero %}
  
  <!-- Hero Section  -->
  <section id="hero" style="background-image: url('static/img/fondo5.jpg')">
    <div class="hero container">
      
    </div>
  </section>

  <section class="acerca-de">
    <div class="contenedor">
        <div class="texto">
            <h3 id="acerca-de" class="titulo">Acerca de</h3>
            <p class="descripcion">En <span class="bold">Veterinaria Victor's</span> nos preocupamos por el bienestar <br>de 
              sus mascotas asi como animales de granja,<br>
               siendo nuestra prioridad el poder brindar <br>un buen 
               servicio a nuestros pacientes <br>como a sus propietarios.</p>
        </div>
    </div>
</section>

<section class="server">
    <div class="title-cards">
        <h2 id="pix">Nuestros servicios</h2>
    </div>
    <div class="flex-nosotros">
        <div class="card">
            <figure>
                <img
                    src="../static/img/clinica.jpg">
                <div class="capa">
                    <h3>Clínica</h3>
                </div>
            </figure>
        </div>
        <div class="card">
            <figure>
                <img src="../static/img/ciruguia.jpeg">
                <div class="capa">
                    <h3>Cirugía</h3>
                </div>
            </figure>
        </div>
        <div class="card">
            <figure>
                <img
                    src="../static/img/Consultaa.jpg">
                <div class="capa">
                    <h3>Consultas</h3>
                </div>
        <div class="card">
  
  <!-- fin de Hero Section  -->

  <footer class="footer-distributed">

    <div class="footer-left">

            <h3>Veterinaria<span>Victor's</span></h3>

            <p class="footer-links">
                <a href="home.html" class="link-1">Inicio</a>
            
                <a href="services.html">Servicios</a>
            
                <a href="productos.html">Productos</a>
                
                <a href="contacto.html">Contacto</a>
                
                <a href="sesion.html">Login</a>
            </p>

            
        
    </div>

    <div class="footer-center">
        <div>
            <h3>Contacto</h3>
        </div>
        

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Avenida Xicohtencalt # </span> San José Xicohtencalt</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+52 2471010834</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:veterinariavictor09@gmail.com">veterinariavictor09@gmail.com</a></p>
        </div>

    </div>

    <div class="footer-right">


        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-whatsapp"></i></a>
            
            <p class="footer-company-name">Copyright © Las reales UTT 2022</p>
            
        </div>

    </div>

    </div>

</footer>

  {% endblock%} 

  


  