{% extends 'base.html' %}


{% block hero %}
  
  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      
    </div>
  </section>

  <section class="acerca-de">
    <div class="contenedor">
        <div class="texto">
            <h3 id="acerca-de" class="titulo">Acerca de</h3>
            <p class="descripcion">En <span class="bold">Veterinaria Victor's</span> nos preocupamos por el bienestar <br>de 
              sus mascotas asi como animales de granja,<br>
               siendo nuestra prioridad el poder brindar <br>un buen 
               servicio a nuestros pacientes <br>como a sus propietarios.</p>
        </div>
    </div>
</section>

<section class="server">
    <div class="title-cards">
        <h2 id="pix">Nuestros servicios</h2>
    </div>
    <div class="flex-nosotros">
        <div class="card">
            <figure>
                <img
                    src="../static/img/clinica.jpg">
                <div class="capa">
                    <h3>Clínica</h3>
                </div>
            </figure>
        </div>
        <div class="card">
            <figure>
                <img src="../static/img/ciruguia.jpeg">
                <div class="capa">
                    <h3>Cirugía</h3>
                </div>
            </figure>
        </div>
        <div class="card">
            <figure>
                <img
                    src="../static/img/Consultaa.jpg">
                <div class="capa">
                    <h3>Consultas</h3>
                </div>
        <div class="card">
            <figure>
                <img
                    src="../static/img/medicamentos.jpg">
                 <div class="capa">
                    <h3>Venta de medicamentos y accesorios</h3>
                </div>
            </figure>
        </div>
    </div> 

</section>
  
  <!-- fin de Hero Section  -->
  {% endblock%} 

  


  