{% extends 'base.html' %}


{% block hero %}

<section id="hero" style="background-image: url('../static/img/services.jpeg')">
    <div class="hero container">
        <h1>Servicios<span></span></h1>
      
    </div>
  </section>

  <!-- Tarjetas de servicios :v  -->
  <section class="tarjetas">
    <h2>“Ser veterinario no es solo cuidar a los animales,<br> es ante todo respetar la vida de todos <br>los que habitamos en este mundo <br>y <br>dignificar su existencia.”</h2>
    <div class="container">
        <div class="card">
            <div class="img">
                <img src="../static/img/consulta.jpeg" alt="consulta">
            </div>
            <div class="top-text">
                <div class="name">Consultas</div>
                <p>Especializados en todo tipo de casos</p>
            </div>
            <div class="bottom-text">
                <div class="text">En clinica veterinaria Victor's <br> cualquier tipo de consulta <br>en mascotas y animales de granja</div>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/img/clinic.jpeg" alt="clinica">
            </div>
            <div class="top-text">
                <div class="name">Clinica</div>
            </div>
            <div class="bottom-text">
                <div class="text">Parto <br>Manejo <br>Nutrición</div>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/img/cirugia.jpg" alt="cirugia">
            </div>
            <div class="top-text">
                <div class="name">Cirugia</div>
            </div>
            <div class="bottom-text">
                <div class="text">Gastostomia <br>Esterilizacion canina y felina <br>Orquiectomia</div>
            </div>
        </div>
        
    </div>
    <div class="container">
        <div class="card">
            <div class="img">
                <img src="../static/img/vacunacion.png" alt="vacunacion">
            </div>
            <div class="top-text">
                <div class="name">Vacunación</div>
                <p>Nos preocupamos por el bienestar de sus animales por eso...</p>
            </div>
            <div class="bottom-text">
                <div class="text">Contamos con el esquema de vacunación completo para sus perros y vacas</div>
            </div>
        </div>
    </div>
    
</sectio>

<section class="inseminacion">
    <div class="descrip">
        <h3>Inseminación</h3>
        <h4>Contamos con la mejor seleccion genetica <br>para enceminacion artificial en vacas y cerdas.<br>Asi como monta natural</h4>
    </div>
    <div class="slider">
        <ul>
            <li><img src="../static/img/12-Clasico.jpg" alt="Clasico"> </li>
            <li><img src="../static/img/12-Payo.jpg" alt="Payo"></li>
            <li><img src="../static/img/17-Shannon.jpg" alt="Shanonn"></li>
            <li><img src="../static/img/18-Charbrey-50.jpg" alt="18-Charbrey-50"></li>
            <li><img src="../static/img/holstein.jpg" alt="holstein"></li>
            <li><img src="../static/img/jersey.jpg" alt="jersey"></li>

        </ul>
    </div>
</section>




  <script src="./js/app.js"></script>


{% endblock%} 