{% extends 'base.html' %}

{% block estilosextras %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/services.css' %}">
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}

{% block hero %}

<section id="hero" style="background-image: url('../static/img/services.jpeg')">
    <div class="hero container">
        <h1>Servicios<span></span></h1>
      
    </div>
  </section>

  <!-- Tarjetas de servicios :v  -->
  <section class="tarjetas">
    <div class="texto">
        <p>“Ser veterinario no es solo cuidar a los animales,<br> es ante todo respetar la vida de todos <br>los que habitamos en este mundo <br>y dignificar su existencia.”</p>
    </div>
    <div class="containers">
        <div class="card">
            <div class="img">
                <img src="../static/img/consulta.jpeg" alt="consulta">
            </div>
            <div class="top-text">
                <div class="name">Consultas</div>
                <p>Especializados en todo tipo de casos</p>
            </div>
            <div class="bottom-text">
                <div class="text">En clínica veterinaria Victor's <br> cualquier tipo de consulta <br>en mascotas y animales de granja</div>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/img/clinic.jpeg" alt="clinica">
            </div>
            <div class="top-text">
                <div class="name">Clínica</div>
            </div>
            <div class="bottom-text">
                <div class="text">Parto <br>Manejo <br>Nutrición</div>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/img/cirugia.jpg" alt="cirugia">
            </div>
            <div class="top-text">
                <div class="name">Cirugía</div>
            </div>
            <div class="bottom-text">
                <div class="text">Gastostomía <br>Esterilización canina y felina <br>Orquiectomía</div>
            </div>
        </div>
        
    </div>
    <div class="containers">
        <div class="card">
            <div class="img">
                <img src="../static/img/vacunacion.png" alt="vacunacion">
            </div>
            <div class="top-text">
                <div class="name">Vacunación</div>
                <p>Nos preocupamos por el bienestar de sus animales por eso...</p>
            </div>
            <div class="bottom-text">
                <div class="text">Contamos con el esquema de vacunación completo para sus perros y vacas</div>
            </div>
        </div>
    </div>
    
</sectio>
<!--Catalogo de inseminacion-->

<section class="inseminacion">
    <div class="child-page-listing">

        <h2 style="background-color: #ffff ,  background-position top center ">Inseminación</h2>
        <h3>Contamos con la mejor seleccion genetica para la enseminacion artificial en vacas y cerdas <br> Asi como monta natura</h3>
      
        <div class="grid-container">
      
          <article id="3685" class="location-listing">
      
            <a class="location-title" href="#">
                Clasico           </a>
      
            <div class="location-image">
              <a href="#">
                  <img width="300" height="169" src="../static/img/6.jpeg" alt="clasico">    </a>
      
            </div>
      
          </article>
      
          <article id="3688" class="location-listing">
      
            <a class="location-title" href="#">
                Payo           </a>
      
            <div class="location-image">
              <a href="#">
                  <img width="300" height="169" src="../static/img/3.jpeg" alt="Payo">  </a>
      
            </div>
      
          </article>
      
          <article id="3691" class="location-listing">
      
            <a class="location-title" href="#">
                Shannon        </a>
      
            <div class="location-image">
              <a href="#">
                  <img width="300" height="169" src="../static/img/5.jpeg" alt="Shannon">  </a>
      
            </div>
      
          </article>
      
          <article id="3694" class="location-listing">
      
            <a class="location-title" href="#">
                Holstein           </a>
      
            <div class="location-image">
              <a href="#">
                  <img width="300" height="169" src="../static/img/2.jpeg" alt="Holstein">  </a>
      
            </div>
      
          </article>
      
          <article id="3697" class="location-listing">
      
            <a class="location-title" href="#">
                Jersey          </a>
      
            <div class="location-image">
              <a href="#">
                  <img width="300" height="169" src="../static/img/1.jpeg" alt="Jersey">    </a>
      
            </div>
      
          </article>
      
          <article id="3700" class="location-listing">
      
            <a class="location-title" href="#">
                Charbrey           </a>
      
            <div class="location-image">
              <a href="#">
                  <img width="300" height="169" src="../static/img/4.jpeg" alt="Charbrey">          
                </a>
            </div>
      
          </article>
      
        </div>
        <!-- end grid container -->
      
      </div>
</section>


    <form method="post">
        {% csrf_token %}
        <label for="name">Nombre</label>
        <br>
        <input type="text" id="name" name="name">
        <br>
        <label for="name">Numero telefonico</label>
        <br>
        <label for="name">Direccion</label>
        <br>
        <label for="name">Mascota</label>
        <br>
        <label for="name">Descripcion</label>
        <br>
        <input type="submit" href="mailto:faty.aome.rojas14@gmail.com" value="Guardar">
    </form>

  <script src="./js/app.js"></script>


{% endblock%} 